.nf-about {
  display: flex;
  justify-content: center;
  // 75px for header and 30px each for yellow bars at top/bottom of pg.
  min-height: calc(100% - 75px - 90px);
}

.nf-about-content {
  width: 70%;
  display: flex;
  justify-content: center;

  section {
    flex: 1 1;
    padding: 50px;
    font-size: 16pt;

    p {
      line-height: 32px;
      margin: 5px 0px;
      font-size: 16pt;
      padding: 10px 0px;
    }
  }
}

.nf-footer-divider {
  background-color: $darkerLightGold;
  height: 30px;
  width: 100%;
}
