.nf-about {
  display: flex;
  justify-content: center;
  min-height: calc(100% - 75px - 80px - 75px);
  @media (max-width: $smallScreen) {
    padding-top: $navHeight;
  }
}

.nf-about-content {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  section {
    flex: 1 0;
    padding-right: 50px;
    font-size: 16pt;
    @media (max-width: $smallScreen) {
      padding: 0;
    }

    p {
      line-height: 32px;
      margin: 5px 0px;
      font-size: 16pt;
      padding: 10px 0px;
    }
    a {
      color: $darkRed;
    }
  }
}

