.nf-about {
  display: flex;
  justify-content: center;
}

.nf-about-content {
  width: 70%;
  max-width: 700px;
  display: flex;
  justify-content: center;

  section {
    flex: 1 1;
    padding: 50px;
    font-size: 16pt;

    p {
      line-height: 32px;
      margin: 5px 0px;
      font-size: 16pt;
      padding: 10px 0px;
    }
  }
}

