.nf-docs a {
  color: $darkRed;
}

a.nf-docs-anchor {
    color: inherit;
}

.nf-docs-sidenav, .nf-docs-sidenav_fixed {
  width: 15%;
  padding: 10px 16px 10px;
  margin-top: 20px;
  background-color: $backgroundGrey;
  height: 100%;
  float: left;
}

.nf-docs-sidenav_fixed {
    position: fixed;
    top: 0;
    margin-top: 0px;
}

.nf-docs-sidenav-header {
  font-weight: bold;
}

.nf-docs-sidenav li, .nf-docs-sidenav_fixed li {
  padding: 20px 10px;
}

.nf-docs-sidenav li a, .nf-docs-sidenav_fixed li a {
  width: 100%;
  height: 100%;
}

.nf-docs main {
  margin-top: 10px;
  padding: 50px 45px 40px calc(15% + 60px);
  font-size: 15pt;
  section {
    margin: auto;
    max-width: 700px;
  }
}

.nf-docs p {
  line-height: 28px;
  margin: 25px 0px;
  font-size: 15pt;
}

.nf-docs-h2 {
  font-size: 20pt;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
}

.nf-docs-h2-first {
  margin-top: -5px;
}

.nf-docs-h3, .nf-docs-h3-no-caps {
  font-weight: bold;
  font-size: 15pt;
  margin-top: 25px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.nf-docs-h3-no-caps {
  text-transform: none;
}

.nf-docs pre {
  padding: 10px;
  font-size: 13pt;
  code {
    padding: 1em;
  }
}

.nf-docs-list {
  position: relative;
  left: 20px;
  line-height: 28px;
  margin: 20px auto;
}

.nf-docs ol {
    margin: 25px 0 25px 1em;
}

.nf-docs ol li {
  line-height: 38px;
}
