.nf-home-mainContent {
  display: flex;
  background-color: $lightGold;
  overflow: hidden;
  height: 100%;
  position: relative;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

// Left side 
.nf-home-buzzwords {
  color: $lightGrey;
  font-size: 40pt;
  font-weight: bold;
  width: 400px;
  text-transform: uppercase;
  @media (max-width: $smallScreen) {
    font-size: 30px;
    width: 220px;
    margin: auto;
  }
}

.nf-home-bz1 {
  color: $black;
}

.nf-home-bz2 {
  color: $darkBlue;
}

.nf-home-bz3 {
  color: $darkRed;
}

.nf-home-bz4 {
  color: $darkGold;
}

.nf-home-main-left {
  margin: 80px 100px 20px 170px;
  width: 500px;
  @media (max-width: $smallScreen) {
    width: 300px;
    margin: 80px auto 20px;
  }
}

.nf-home-main-right {
  margin-top: 65px;
  width: 100%;
  @media (max-width: $smallScreen) {
    display: none;
  }
}

.nf-home-docsBtn {
  border: 3px solid $lightRed;
  border-radius: 6px;
  padding: 20px;
  font-size: 20pt;
  margin: 55px 25px;
  @media (max-width: $smallScreen) {
    margin: 55px auto;
    display: block;
    position: relative;
    left: -20px;
  }
}

.nf-home-docsBtn:hover {
  background-color: $lighterLightGold;
}

// Right side
.nf-tryItSlogan {
  font-size: 20pt;
  margin: 15px 0px 15px 40px;
}

.nf-tryIt {
  background-color: $black;
  width: 100%;
  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
  border: 9px solid #f0e7cb;
  border-bottom: none;
}

.nf-tryIt-requestBar {
  background-color: #fff;
  height: 40px;
  font-size: 15pt;
  display: flex;
}

.nf-tryIt-select {
  background-color: $darkGold;
  border: none;
  height: 100%;
  flex: 2;
  padding: 3px 8px;
  max-width: 300px;
}

.nf-tryIt-endpoint {
  color: #B2B2B2;
  padding-left: 15px;
  align-self: center;
}

.nf-tryIt-input {
  flex: 1;
  min-width: 0;
  border: none;
  outline: none;
  margin: 1px;
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.nf-tryIt-goBtn {
  background-color: $darkRed;
  color: #fff;
  font-weight: bold;
  font-size: 18pt;
  height: 100%;
  width: 60px;
  margin-top: 0px;
  float: right;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }
  &:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
  }
}

.nf-tryIt-response {
  height: 520px;
  overflow: auto;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 0;
  line-height: 18px;
  background-color: $black;
}
