body.nf-flex-body {
  display: flex;
  flex-direction: column;
}

.nf-flex-main {
  flex: 1;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

ul.no-list-styles {
  list-style: none;
}

.nf-header, .nf-footer {
  flex-shrink: 0;
  height: $navHeight;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 3;
  position: relative;
}

.nf-header {
  justify-content: center;
}

.nf-header-non-home {
  border-bottom: 80px solid $darkerLightGold;
}

.nf-footer-non-home {
  background-color: #eaeaea;
}

.nf-footer {
  justify-content: space-around;
  flex-wrap: wrap;
}

.nf-footer p {
  flex: 1;
  max-width: 40%;
  padding: 30px 0;
}

.nf-nav {
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nf-logo {
  height: 45px;
  width: 220px;
  display: inline-block;
}

.nf-logo img {
  max-width: 100%;
}

.nf-nav-list {
  display: inline-block;
}

.nf-nav li {
  display: inline-block;
  color: $darkGrey;
  padding: 20px;
  :hover {
    color: $black;
  }
}

a.nf-link-active {
  color: $black;
  text-decoration: underline;
}

.nf-footer a {
  color: $darkRed;
}

.nf-h2 {
  font-size: 20pt;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
}
