body.nf-flex-body {
  display: flex;
  flex-direction: column;
}

.nf-flex-main {
  flex: 1;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: $black;
}

ul.no-list-styles {
  list-style: none;
}

.nf-header, .nf-footer {
  flex-shrink: 0;
  height: $navHeight;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 3;
  position: relative;
}

.nf-header {
  justify-content: center;
  @media (max-width: $smallScreen) {
    position: fixed;
    width: 100%;
  }
}

.nf-header-non-home {
  border-bottom: 80px solid $darkerLightGold;
  @media (max-width: $smallScreen) {
    border-bottom-width: 10px;
  }
}

.nf-footer {
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 6;
  font-size: 14px;
  display: flex;
  @media (max-width: $smallScreen) {
    font-size: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 15px;
    padding: 8px 0 22px;
  }
}

.nf-footer-non-home {
  background-color: #eaeaea;
  @media (max-width: $smallScreen) {
    padding-top: 20px;
  }
}

.nf-footer-notLoblaws, .nf-footer-right {
  color: $darkGrey;
  flex: 1;
  padding: 30px 0;
  @media (max-width: $smallScreen) {
    max-width: 50%;
    padding: 7px 0;
    flex: 0;
  }
}

.nf-footer-notLoblaws {
  flex: 2;
  padding: 30px 18px;
  @media (max-width: $smallScreen) {
    padding: 7px 0;
  }
}

.nf-nav {
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  @media (max-width: $smallScreen) {
    justify-content: space-around;
  }
}

.nf-logo {
  height: 45px;
  width: 220px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 18px;
  @media (max-width: $smallScreen) {
    position: static;
    margin-left: initial;
    width: 38%;
  }
}

.nf-logo img {
  max-width: 100%;
}

.nf-nav-list {
  display: inline-block;
  position: relative;
  left: -12px;
  @media (max-width: $smallScreen) {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
}

.nf-nav li {
  display: inline-block;
  color: $darkGrey;
  padding: 20px;
  @media (max-width: $smallScreen) {
    height: 26px;
    width: 26px;
    font-size: 80%;
    padding: 0;
  }
  :hover {
    color: $black;
  }
}

.nf-hideOnMobile {
  @media (max-width: $smallScreen) {
    display: none;
  }
}

.nf-mobile-menu {
  display: none;
  @media (max-width: $smallScreen) {
    display: inline-block;
  }
}

li.nf-smallScreen-only {
  display: none;
}

@media (max-width: $smallScreen) {
  li.nf-smallScreen-only {
    display: block;
  }
  li.nf-bigScreen-only {
    display: none;
  }
}

a.nf-link-active {
  color: $black;
  text-decoration: underline;
}

.nf-footer a {
  color: $darkRed;
}

.nf-h2 {
  font-size: 20pt;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
}
