$darkGold: #F7D233;
$darkerLightGold: #F9E499;
$lightGold: #FCF3D5;
$lighterLightGold: #FCF7E1;
$brightYellow: #FFE700;
$lightRed: #C20611;
$darkRed: #9F050E;
$darkBlue: #0D6B9F;
$backgroundGrey: #F5F5F5;
$lightGrey: #6D6D6D;
$disabledGrey: #808080;
$darkGrey: #545454;
$black: #101010;

$navHeight: 75px;

$smallScreen: 650px;
